.user-name{
    margin-left:15%;
    font-weight: bold;
}
.user-image{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.post-image{
    margin-left: 15px;
    height: 10%;
    width: 90%;
}
.post-date{
    margin-left: 10px;
    font-size: smaller;
}
#grid{
    background-color: red;
    width: 100%;
    position: absolute;
    
}
.card{
    float: left;
    height: 500px;
    /* width: 250px; */
    width: 19%;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
    background-color: rgb(255, 255, 255);
    
}
.insta-logo{
    position: relative;
    left: 250px;
    bottom: 40px; 
}
.span-pos{
    position: absolute;
    width: 30%;

}
p{
    font-family:Arial, Helvetica, sans-serif;
}
#grid button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    position:absolute;
    background-color: aqua;
    border-radius: 15%;
    width: 200px;
    height: 70px;
    bottom:0;
    right: 50%;
}
.text{
    font-size:small;
    text-align: left;
}
#slika14{
    margin-left: 15px;
    height: 250px;
    width: 250px;
    object-fit:cover;
}
.content{
    margin-left: 15px;
    margin-right: 15px;
}
.like-button{
   border-top: 1px solid gray;
   position: relative; 
}
.like-button p{
    position: relative;
    left:12%;

}
.like-button img{
    position: absolute;
    

}
@media screen and (max-width: 1510px){
    .user-image{
        margin-left: 10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .post-image{
        margin-left: 15px;
        height: 10%;
        width: 90%;
    }
    .post-date{
        margin-left: 10px;
        font-size: smaller;
    }
    #grid{
        background-color: red;
        width: 100%;
        position: absolute;
        
    }
    .card{
        float: left;
        height: 500px;
        /* width: 250px; */
        width: 20%;
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 10px;
        margin-bottom: 80px;
        background-color: rgb(255, 255, 255);
        
    }
    .insta-logo{
        position: absolute;
        left: 55%;
        bottom: 5%;
    }
    .span-pos{
        position: absolute;
        width: 30%;
    
    }
    p{
        font-family:Arial, Helvetica, sans-serif;
    }
    #grid button{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:x-large;
        position:absolute;
        background-color: aqua;
        border-radius: 15%;
        width: 200px;
        height: 70px;
        bottom:0;
        right: 50%;
        
    }
    .text{
        font-size:small;
        text-align: left;
    }
    #slika14{
        margin-left: 15px;
        height: 150px;
        width: 160px;
        object-fit:cover;
    }
}
/* For Mobile */
@media screen and (max-width: 768px) {
    .user-image{
        margin-left: 10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .post-image{
        margin-left: 15px;
        height: 10%;
        width: 90%;
    }
    .post-date{
        margin-left: 10px;
        font-size: smaller;
    }
    #grid{
        background-color: red;
        width: 100%;
        position: absolute;
        
    }
    .card{
        float: left;
        height: 500px;
        /* width: 250px; */
        width: 280px;
        margin-left: 50px;
        margin-top: 40px;
        margin-right: 40px;
        margin-bottom: 80px;
        background-color: rgb(255, 255, 255);
        
    }
    .insta-logo{
        position: relative;
        left: 250px;
        bottom: 40px; 
    }
    .span-pos{
        position: absolute;
        width: 30%;
    
    }
    #slika14{
        margin-left: 15px;
        height: 250px;
        width: 250px;
        object-fit:cover;
    }
}

/* For Tablets */
@media screen and (max-width: 992px) {
    .user-image{
        margin-left: 10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .post-image{
        margin-left: 15px;
        height: 10%;
        width: 90%;
        
    }
    .post-date{
        margin-left: 10px;
        font-size: smaller;
    }
    #grid{
        background-color: red;
        width: 100%;
        position: absolute;
        
    }
    .card{
        float: left;
        height: 500px;
        /* width: 250px; */
        width: 310px;
        margin-left: 50px;
        margin-top: 40px;
        margin-right: 40px;
        margin-bottom: 80px;
        background-color: rgb(255, 255, 255);
        
    }
    .insta-logo{
        position: relative;
        left: 250px;
        bottom: 40px; 
    }
    .span-pos{
        position: absolute;
        width: 30%;
    
    }
    #slika14{
        margin-left: 15px;
        height: 250px;
        width: 250px;
        object-fit:cover;
    }
}
